@model List<WishList.Models.Item>
@{
    ViewData["Title"] = "Index";
}

<h1>Wishlist</h1>
<a asp-action="Create">Add Item</a>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li>@item.Description <a asp-action="delete" asp-route-id="item.Id">delete</a></li>
    }
</ul>

