@model List<WishList.Models.Item>
@{
    ViewData["Title"] = "Index";
}

<h1>Wishlist</h1>
<a asp-action="Create">Add Item</a>

<ul class="list-group">
    @foreach (var items in Model)
    {
    <li class="list-group">@items.Description 
        <a asp-action="delete" asp-route="Id">delete</a>
    </li>
    }
</ul>

